.bundle/
log/*.log
pkg/
spec/dummy-*
spec/dummy_*/db/*.sqlite3
spec/dummy_*/db/*.sqlite3-journal
spec/dummy_*/log/*.log
spec/dummy_*/node_modules/
spec/dummy_*/yarn-error.log
spec/dummy_*/storage/
spec/dummy_*/tmp/
vendor/bundle
spec/dummy/.npm
spec/dummy/.config
spec/dummy/.bash_history
